.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px;
    margin: 0 auto;
}

.cell {
    background-color: #eee;
    border: 1px solid #aaa;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

.result {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
.Tbody{
    background-color: aquamarine;
}